/* desktop */

.container {
    margin: 0 auto;
    max-width: 1050px;
}

/* nav-section */

.header-nav {
    background-color: inherit;
    padding: 1rem 2rem;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__menu {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.header-nav__btn {
    display: block;
    padding: 1.2rem;
    font-size: var(--font-s);
    border-radius: 10px;
    background: var(--color-delta);
}

.header-nav__btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

.header-nav__menu-li-a {
    padding: 1rem;
}

.header-nav__menu-li-a:hover {
    border-radius: 10px;
    padding: 1rem;
    background: var(--color-alfa);
    color: var(--color-delta);
    transition: all 0.5s ease-in-out;
}

.header-nav__checker-label {
    display: none;
}

/* header-section */

.header {
    background-size: cover;
}

.header-sec {
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-sec__content-title {
    font-size: var(--font-xl);
}

.header-sec__content-btn {
    padding: 1.5rem;
}

/* features-section */

.features {
    height: 120vh;
    margin-top: 11rem;
}

.features__header-title {
    font-size: var(--font-l);
}

.features-content__card-descr {
    font-size: var(--font-s);
}

.features-content__card-box-img1,.features-content__card-box-img2,
.features-content__card-box-img3 {
    width: 12rem;
}

.features-dscr__header-title {
    font-size: var(--font-m);
}

.features-dscr__header-para {
    font-size: var(--font-s);
    line-height: 3rem;
}

.features-dscr__header-btn {
    padding: 1.5rem;
}

/* review-section */

.review {
    height: 80vh;
}

.review__header-title {
    font-size: var(--font-xl);
}

.review__header-para {
    font-size: var(--font-s);
}

/* price-section */

.price {
    justify-content: space-evenly;
    height: 100vh;
}

.price__header-title {
    font-size: var(--font-l);
}

.price__header-para {
    font-size: var(--font-s);
}

.price__card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.price__card-box {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100rem;
    background: var(--color-alfa);
    margin-top: 1rem;
    box-shadow: 0px 0px 50px -1px #777777;
}

.price__card-top-bar1, .price__card-top-bar2, 
.price__card-top-bar3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.price__card-top-bar-title {
    font-size: var(--font-s);
    font-weight: 400;
}

.price__card-top-bar-para1, .price__card-top-bar-para2,
.price__card-top-bar-para3 {
    color: var(--color-omega);
    font-size: var(--font-s);
    font-weight: bold;
}

.price__card-top-bar-para1 {
    color: var(--color-eta-a);
}

.price__card-top-bar-para2 {
    color: var(--color-jota-a);
}

.price__card-top-bar-para3 {
    color: var(--color-zeta-a);
}

.price__card-content-li {
    font-size: var(--font-xs);
    font-weight: 100;
}

.price__card-content-btn {
    padding: 1.5rem;
}

/* advertising-section */

.advertising {
    height: 50vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.advertising__header {
    text-align: left;
    padding: 0rem;
    font-size: var(--font-xl);
}

.advertising__box-img {
    width: 50%;
    padding: 1rem;
}

/* footer-main-section */

.footer-box {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 5rem;
}

.footer-content__box-social {
    width: 30%;
}

.footer-link-box__title {
    font-size: var(--font-m);
    font-weight: 100;
}

.footer-link-box__list-li-a {
    font-size: var(--font-xs);
}

/* footer-section */

.footer-footer {
    padding: 3rem;
    height: 10vh;
}

.footer-footer__para {
    font-size: var(--font-xxs)
}

.footer-footer__para-a {
    font-size: var(--font-xxs);
}
